
:root {
    /* colors */
    

    /* font-sizes */

    
    /* font-families */


    /* letter spacing */

}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0; 
}

h1,
h2,
h3,
p {
    font-weight: 400;
}

body {

}

img {
    max-width: 100%;
    display: block;
}



/************************************ 500px ***********************************/
@media (min-width: 500px) {
   
}


/************************************ 560px ***********************************/
@media (min-width: 560px) {
    :root {
        
    }
}


/************************************ 950px ************************************/
@media (min-width: 950px) {
    :root {
       
    }
}


/********************************************** 1250px *******************************/
@media (min-width: 1250px) {
    :root {
        
    }
}


/********************************************** 1440px *******************************/
@media (min-width: 1440px) {
    body {
      max-width: 1440px;
      max-height: 900px;
      margin: 0 auto;
    }
} 


