footer { 
    grid-row: 2 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attribution { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 1.1rem;
    padding-bottom: 0.5rem;
}

.attribution p {
    padding: 0.3rem;
}
.attribution a { 
    color: var(--clr-white); 
    font-weight: 600;
    text-decoration: none;
}

.attribution a:hover { 
    color: black; 
}


/* ------------------------------ 450px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (min-width: 450px) {

    footer { 
        grid-row: 3 / 4;
        margin-top: 4rem;
    }

    .attribution { 
        flex-direction: row;
    }
}

