
.img-container {
  background-image: url(images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  /* width: 100%; when off, the img and the TextContainer maintain the same top position*/
  position: absolute;
  top: 4rem;
  
}

.illustration-box {
  display: none;
}

.illustration-woman {
  width: 100%;
}

.illustration-woman img {
  width: 78%;
  margin-inline: auto;
}

.bg-pattern {
  width: 24rem;
  height: 30rem;
  position: absolute;
  top: 5rem;
  background: url(images/bg-pattern-mobile.svg) center center no-repeat;
  background-size: contain;
}

/* ------------------------------ 550px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (min-width: 550px) {
  .illustration-box {
    display: block;
    position: absolute;
    top: 10rem;
    left: 4rem;
    width: 16rem;
  }

  .bg-pattern {
    top: 8rem;
    width: 37.5rem;
    height: 40rem;
  }
}

/* ------------------------------ 1000px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (min-width: 1000px) {
  .img-container {
    width: 50%;
    height: 56rem;
    top: 0;
    background: url(images/bg-pattern-desktop.svg) right -35rem no-repeat;
    /* background-position: right calc(100% + 80px); */
    background-size: auto 200%;
    margin-right: 4rem;
    position: relative; 
    border-radius: 20px;    
  }

  .illustration-woman {
    position: absolute;
    bottom: 10rem;
    right: 0;
    width: 120%;
    height: auto;
  }

  .illustration-woman img {
    width: 100%;
    overflow: hidden;
  }

  .illustration-box {
    position: absolute;
    top: 24rem;
    left: -10rem;
    width: 16rem;
  }

  .bg-pattern {
    display: none;
  }
}

/* ------------------------------ 1200px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (min-width: 1200px) {
  .illustration-woman {
    bottom: 8rem;
  }

  .illustration-box {
    left: -9.5rem;
    width: 18rem;
  }

}

/* ------------------------------ 1300px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (min-width: 1300px) {
  /* main .img-container {
    width: 45%;
  } */

  .illustration-woman {
    bottom: 8rem;
  }

  .illustration-box {
    top: 23rem;
    left: -10rem;
    width: 22rem;
  }

}

/* ------------------------------ 1400px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (min-width: 1400px) {
  main .img-container {
    width: 40%;
  }

  .illustration-woman {
    bottom: 8rem;
  }

  .illustration-box {
    top: 24rem;
    left: -10rem;
    width: 22rem;
  }

}