
:root {
    /* colors */
    --clr-dark: hsla(238, 29%, 17%, 1);
    --clr-question-gray: hsla(237, 12%, 33%, 1);
    --clr-answer-gray: hsla(240, 6%, 50%, 1);
    --clr-border-gray: #E8E8EA;
    --clr-orange: hsla(14, 88%, 65%, 1);

    /* font-sizes */
    --fs-title: 3.2rem;
    --fs-question: 1.3rem;
    --fs-answer: 1.2rem;
}

body {
    width: 100%;
    background: linear-gradient(180deg, #B068E9 0%, #6463E7 100%);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: auto min-content;
    padding-top: 14.8rem;
}

html {
    font-size: 62.5%;
    font-family: 'Kumbh Sans';
    box-sizing: border-box;
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1 {
    margin: 0; 
}


img {
    max-width: 100%;
    display: block;
}



/************************************ 500px ***********************************/
@media (min-width: 500px) { 
    :root {
        --fs-question: 1.4rem;
    }
}

/* ------------------------------ 550px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (min-width: 550px) {
    body {
      padding-top: 21rem;
    }
}

/* ------------------------------ 1000px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (min-width: 1000px) {
    body {
      align-items: center;
      grid-template-rows: 12.9rem auto min-content;
      padding-top: 0;
      height: 100%;
    }
}


/********************************************** 1440px *******************************/
@media (min-width: 1440px) {
    body {
      max-width: 1440px;
      margin-inline: auto;
    }
} 


