footer { 
    height: 6rem;
    width: 100%;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid hsl( var(--) / .25);
    background: hsl( var(--) / 0.95);
}

/* <style>
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
</style> */

.attribution { 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: hsl( var(--clr-white));
    font-size: 0.8rem;
}

.attribution p {
    padding: 0.3rem;
}
.attribution a { 
    color: var(--clr-white); 
    font-weight: 600;
    text-decoration: none;
}

.attribution a:hover { 
    color: lightseagreen; 
}


/* ------------------------------ 450px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (min-width: 450px) {
    body {
        grid-template-rows: 1fr 4rem;
    }

    footer { 
        height: 4rem;
        margin-top: 4rem;
    }

    .attribution { 
        flex-direction: row;
    }
}

