
.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


main {
  width: 87%;
  grid-row: 1 / 2;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
}

/* ------------------------------ 550px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (min-width: 550px) {
  main {
    width: 80%;
  }
}

/* ------------------------------ 600px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (min-width: 600px) {
  main {
    width: min(52rem, 75%);
  }

}

/* ------------------------------ 1000px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (min-width: 1000px) {
  main {
    width: 80%;
    grid-row: 2 / 3;
    flex-direction: row;
    align-items: normal;
    background: white;
    box-shadow: 0px 50px 50px -20px rgba(53, 18, 122, 0.497159);
    border-radius: 23px;
    justify-self: center;
    position: relative;
  }
}

