
.img-container {
  background-image: url(images/bg-pattern-mobile.svg);
  background-repeat: no-repeat;
  /* width: 100%; when off, the img and the TextContainer maintain the same top position*/
  position: absolute;
  top: 4rem;
  
}

.illustration-box {
  display: none;
}

.illustration-woman {
  width: 100%;
}

.illustration-woman img {
  width: 78%;
  margin-inline: auto;
}

/* ------------------------------ 550px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (min-width: 550px) {
  .illustration-box {
    display: block;
    position: absolute;
    top: 10rem;
    left: 4rem;
    width: 16rem;
  }
}

/* ------------------------------ 1000px ------------------------------- */
/* -------------------------------------------------------------------- */
@media (min-width: 1000px) {
  main .img-container {
    width: 50%;
    height: 51rem;
    background: url(images/bg-pattern-desktop.svg);
    background-position: right calc(100% + 180px);
    background-size: auto 200%;
    margin-right: 4rem;
    position: static; 
    border-radius: 20px;
  }

  .illustration-woman {
    position: absolute;
    top: 10rem;
    width: 57%;
    height: auto;
    margin-left: -8rem;
    
  }

  .illustration-woman img {
    width: 100%;
    overflow: hidden;
  }

  .illustration-box {
    position: absolute;
    top: 10rem;
    left: -8rem;
    width: 16rem;
  }

}